<!Doctype html>
<html>

<head>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/imagenes/rh.ico">
	<link rel="stylesheet" href="../../static/css/estilo.css">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, scale = 1.0">
	<link rel="stylesheet" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<title> RH | Principal</title>
</head>


<header id="MENU">
{% include 'Comunes/header.html' %}
	<h3>
		<a id="cerrarC" href="/cerrarSesion" class="linkButton"> Cerrar Sesion</a>
	</h3>
</header>


<body background="../../static/imagenes/nuevoRH.png">


</body>

{% include 'Comunes/footer.html' %}

</html>