<!Doctype html>
<html>

<head>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/imagenes/rh.ico">
	<link rel="stylesheet" href="../../static/css/estilo.css">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, scale = 1.0">
	<link rel="stylesheet" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<title> RH | Principal</title>
</head>

<header id="MENU">
	<img src="../../static/imagenes/RHH.png" width="70px" height="55px">
	<ul>
		<li><a href="/Deducciones">Deducciones</a>

		</li>

		<li><a href="/Percepciones">Percepciones</a>

		</li>

		<li><a href="/Ciudades">Ciudades</a>

		</li>

		<li><a href="/Estado">Estado</a>

		</li>

		<li>
			<h3>
				<a href="/cerrarSesion" class="linkButton"> Cerrar Sesion</a>
			</h3>
		</li>


	</ul>

</header>


<body background="../../static/imagenes/nuevoRH.png">
	<form action="/Usuario" method="post">
		Usuario: {{usuario}} Interfaz: {{interfaz}}
	</form>
</body>

<footer style="margin-bottom: 0">
	<img src="../../static/imagenes/fondo4.png" width="60px" height="60px">
	<address style="text-align: center;"> Departamento RH </address>
</footer>

</html>