<!Doctype html>
<html>

<head>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/imagenes/rh.ico">

	<title> RH | Consulta Genera de Estado</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/estilo.css">
</head>

<header id="MENU">
	<img src="../../static/imagenes/RHH.png" width="70px" height="55px">
	<ul>
		<li><a href="/Deducciones">Deducciones</a>

		</li>

		<li><a href="/Percepciones">Percepciones</a>

		</li>

		<li><a href="/Ciudades">Ciudades</a>

		</li>

		<li><a href="/Estado">Estado</a>

		</li>

	</ul>

</header>


<body>
	<main>
		<br> <br> <br>
		<div class="container" style="text-align: center;">
			<h1> CONSULTA DE ESTADOS </h1><bR>
			<a href="/nuevoEstado" class="btn btn-primary"><img
					src="../../static/imagenes/add.gif">Nuevo</a><br><br>

			<form action="/seleccionEstado" method="post">
				<button id="ventasB" type="submit" class="btn btn-primary" role="button">Buscar </button>
				<input id="codigo" type="number" placeholder="Escribe el codigo" required name="codigoBarras">
			</form>
			<br>
			<button><a class="lista" href="/listarEstado" role="button" class="btn btn-primary" style="text-decoration: none;"> Lista de
					Estados
				</a> </button>

			<table id="datos" class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>NOMBRE</th>
						<th>SIGLAS</th>
						<th>EDITAR</th>
						<th>ELIMINAR</th>
					</tr>
					<thead>
						<tbody>
							{% for esta in estados %}
					<tr>
						<td>{{esta.0}}</td>
						<td>{{esta.1}}</td>
						<td>{{esta.2}}</td>
						<td>
							<a href="/editarEstado/{{esta.0}}"><img src="../../static/imagenes/editar.jpeg"></a>
						</td>
						<td>
							<a href="/eliminarEstado/{{esta.0}}"><img src="../../static/imagenes/eliminar.jpeg"></a>
						</td>
					</tr>
					{% endfor %}
			</table><br>
			<a href="/Regresar" class="btn btn-danger">Regresar</a><BR>
		</div>

	</main><br>
</body>

<footer style="margin-bottom: 0">
	<img src="../../static/imagenes/fondo4.png" width="60px" height="60px">
	<address style="text-align: center;"> Departamento RH </address>
</footer>

</html>