<!Doctype html>
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="../../static/imagenes/rh.ico">

	   <title> RH | Nuevo Puesto</title>
	   <meta charset="utf-8">
       	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	   <meta name="viewport" content="width=device-width, scale=1.0">
	   <link rel="stylesheet" href="css/bootstrap.min.css">
	   <link rel="stylesheet" href="../../static/css/estilo.css">
	</head>

	<header id="MENU">
        <img src="../../static/imagenes/RHH.png" width="70px" height="55px">

	</header>


<body >
		<main>
        <div class="container" style="text-align: center;"><br>
            <h1> NUEVO PUESTO </h1><br>
            <center>
            <div class="col-sm-4">
                <form action="/insertarPuesto" method="POST">
                    <table>
                        <!--tr>
                            <td>
                                <label>ID:</label>
                            </td>
                            <td>
                                <input type="number" required name="id">
                            </td>
                        </tr-->
                        <tr>
                            <td>
                                <label>NOMBRE:</label>
                            </td>
                            <td>
                                <input type="text"  placeholder="Ingresa el nombre." required name="nombrePuesto">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>SALARIO-MINIMO</label>
                            </td>
                            <td>
                                <input type="number"  placeholder="Ingresa el salario." required min="1" name="SALARIOMIN">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>SALARIO-MAXIMO</label>
                            </td>
                            <td>
                                <input type="number" required min="1" placeholder="Ingresa el salario." name="SALARIOMAX">
                            </td>
                        </tr>
                    </table>

                    <br> <br><br>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="/Puestos" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
            </center>
        </div>
</body>

  {% include 'Comunes/footer.html' %}
</html>