<!Doctype html>
<html>

<head>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/imagenes/rh.ico">

    <title> RH | Editar DocumentacionEmpleado</title>
    <meta charset="utf-8">
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/estilo.css">
</head>

<header id="MENU">
    <img src="../../static/imagenes/RHH.png" width="70px" height="55px">

</header>


<body>
    <main>
        <div class="container" style="text-align: center;"><br>
            <h1> EDITAR DOCUMENTACION EMPLEADO </h1><br>
            <center>

                <div class="col-sm-4">
                    <form action="/actualizarDocumentacionEmpleado/{{docu.0}}" method="post">

                        <table>
                           <tr>
                                <td>
                                    <label>NOMBRE DOCUMENTO</label>
                                </td>
                                <td>
                                    <input type="text" placeholder="Ingresa el nombre "  required name="nombredocumneto" value="{{docu.1}}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>FECHA ENTREGA</label>
                                </td>
                                <td>
                                    <input type="date" placeholder=" "  required name="fechaentrega" value="{{docu.2}}">
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <label>DOCUMENTO</label>
                                </td>
                                <td>
                                    <input type="text" placeholder=""  required name="documento" value="{{docu.3}}">
                                </td>

                            </tr>
                             <tr>
                                <td>
                                    <label>ID EMPLEADO</label>
                                </td>
                                <td>
                                    <input type="text" placeholder=" "  required name="idempleado" value="{{docu.4}}">
                                </td>
                            </tr>
                        </table>

                        <br> <br><br>
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary">

                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <a href="/DocumentacionEmpleado" class="btn btn-danger">Cancelar</a>
                        </div>
                    </form>
                </div>
            </center>
        </div>
</body>

  {% include 'Comunes/footer.html' %}
</html>