<!Doctype html>
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="../../static/imagenes/rh.ico">

	   <title> RH | Nuevo HORARIO</title>
	   <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, scale = 1.0">
	<link rel="stylesheet" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../static/css/estilo.css">
	</head>

	<header id="MENU">
        <img src="../../static/imagenes/RHH.png" width="70px" height="55px"> 


	</header>


<body >
		<main>
        <div class="container" style="text-align: center;"><br>
            <h1> NUEVO HORARIO </h1><br>
            <center>
            <div class="col-sm-4">
                <form action="/insertarHorario" method="POST">
                    <table>
                        <!--tr>
                            <td>
                                <label>ID:</label>
                            </td>
                        
                       
                            <td>
                                <input type="number" required name="id">
                            </td>
                        </tr-->
                        <tr>
                            <td>
                                <label>HoraInicio:</label>
                            </td>
                            <td>
                                <input type="time"  placeholder="Ingresa la hora" required name="horaInicio">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>HoraFin</label>
                            </td>
                            <td>
                                <input type="time"  placeholder="Ingresa la hora" required name="horaFin">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Dias</label>
                            </td>
                            <td>
                                <input type="number"  placeholder="Ingresa los dias " required name="Dias">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>ID_EMPLEADO</label>
                            </td>
                            <td>
                                <input type="number"  placeholder=" " required name="idEmple">
                            </td>
                        </tr>
                    </table>

                    <br> <br><br>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="/CancelarHor" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
            </center>
        </div>
</body>

	<footer style="margin-bottom: 0"> 
        <img src="../../static/imagenes/fondo4.png" width="60px" height="60px">
        <address style="text-align: center;"> Departamento RH  </address>
	</footer>
</html>