<!Doctype html>
<html>
    <head>
	   <title> RH | Consulta Percepcion</title>
	   <meta charset="utf-8">
	   <meta name="viewport" content="width=device-width, scale=1.0">
	   <link rel="stylesheet" href="css/bootstrap.min.css">
	   <link rel="stylesheet" href="css/style.css">
	</head>

	<header id="MENU">
			<img src="imagenes/RHH.png" width="70px" height="55px"> 
		<ul>
			<li><a href="Deducciones.html">Deducciones</a>
				
			</li>
				
			<li><a href="#">Percepciones</a>
				
			</li>
				
			<li><a href="Ciudades.html">Ciudades</a>
				
			</li>
				
			<li><a href="Estados.html">Estado</a>
				
			</li>
				
		</ul>

	</header>


<body >
		<main>
		<br> <br> <br> 
        <div class="container" style="text-align: center;">
            <h1> CONSULTA INDIVIDUAL </h1><bR>
           <br><br>
            <table class="table">
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DESCRIPCION</th>
                <th>DIAS A PAGAR</th>
				<th>EDITAR</th>
                <th>ELIMINAR</th>
                <tr>
						<td> {{}} </td>
                        <td> {{}} </td>
                        <td> {{}}</td>
                        <td> {{}} </td>
                        <td><a href="EditarPercepcion.html"><img src="imagenes/editar.png"></a></td>
                        <td><a href=""><img src="imagenes/eliminar.png"></a></td>

                    </tr>
             
            </table><br>
           <a href="ConsultaGeneralPercepciones.html" class="btn btn-danger" style="float:right;">Regresar</a><BR>
        </div>

	</main><br>
</body>

	<footer style="margin-bottom: 0"> 
			<img src="imagenes/fondo4.png" width="60px" height="60px">
			<address style="text-align: center;"> Departamento RH </address>
	</footer>
</html>