<!Doctype html>
<html>

<head>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/imagenes/rh.ico">

	<title> RH | Percepciones</title>
	<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/estilo.css">
</head>

<header id="MENU">
	<img src="../../static/imagenes/RHH.png" width="70px" height="55px">
	<ul>
		<li><a href="/Deducciones">Deducciones</a>

		</li>

		<li><a href="/Percepciones">Percepciones</a>

		</li>

		<li><a href="/Ciudades">Ciudades</a>

		</li>

		<li><a href="/Estado">Estado</a>

		</li>

	</ul>

</header>


<body>
	<main>
		<br> <br> <br>
		<div class="container" style="text-align: center;">
			<h1> CONSULTA DE PERCEPCIONES </h1><bR>
			<a href="/NuevaPercepcion" class="btn btn-primary"><img
					src="../../static/imagenes/add.gif">Nuevo</a><br><br>


			<form action="/seleccionPercepciones" method="post">
				<button id="ventasB" type="submit" class="btn btn-primary" role="button">Buscar </button>
				<input id="codigo" type="number" placeholder="Escribe el codigo" required name="codigoBarras">
			</form>
			<br>
			<button><a class="lista" href="/listarPercepciones" role="button" class="btn btn-primary" style="text-decoration: none;"> Lista de
					Percepciones
				</a> </button>


			<table id="datos" class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>NOMBRE</th>
						<th>DESCRIPCION</th>
						<th>DIAS A PAGAR</th>
						<th>EDITAR</th>
						<th>ELIMINAR</th>
					</tr>
				</thead>
				<tbody>
					{% for perc in percepciones %}
					<tr>
						<td>{{perc.0}}</td>
						<td>{{perc.1}}</td>
						<td>{{perc.2}}</td>
						<td>{{perc.3}}</td>
						<td>
							<a href="/editarPercepcion/{{perc.0}}"><img src="../../static/imagenes/editar.jpeg">
							</a></td>
						<td>
							<a href="/eliminarPercepcion/{{perc.0}}"><img src="../../static/imagenes/eliminar.jpeg">
							</a></td>
					</tr>
					{% endfor %}
			</table>
			<br>
			<a href="/Regresar" class="btn btn-danger">Regresar</a><BR>
		</div>

	</main><br>
</body>

<footer style="margin-bottom: 0">
	<img src="../../static/imagenes/fondo4.png" width="60px" height="60px">
	<address style="text-align: center;"> Departamento RH </address>
</footer>

</html>