!Doctype html>
<html>
    <head>
	   <title> RH | Principal</title>
	   <meta charset="utf-8">
	   <meta name="viewport" content="width=device-width, scale=1.0">
	   <link rel="stylesheet" href="css/bootstrap.min.css">
	   <link rel="stylesheet" href="../static/style.css">
	</head>

	<header id="MENU">
			<img src="../static/RHH.png" width="70px" height="55px"> 
		<ul>
			<li><a href="#">Deducciones</a>
				<ul>
					<li><a href="">Agregar</a></li>
					<li><a href="">Consulta General</a></li>
					<li><a href="">Editar</a></li>
					<li><a href="">Eliminar</a></li>
					<li><a href="">Consulta Individual</a></li>
				</ul>
			</li>
				
			<li><a href="#">Percepciones</a>
				<ul>
					<li><a href="">Agregar</a></li>
					<li><a href="">Consulta General</a></li>
					<li><a href="">Editar</a></li>
					<li><a href="">Eliminar</a></li>
					<li><a href="">Consulta Individual</a></li>
				</ul>
			</li>
				
			<li><a href="#">Ciudades</a>
				<ul>
					<li><a href="">Agregar</a></li>
					<li><a href="">Consulta General</a></li>
					<li><a href="">Editar</a></li>
					<li><a href="">Eliminar</a></li>
					<li><a href="">Consulta Individual</a></li>
				</ul>
			</li>
				
			<li><a href="#">Estado</a>
				<ul>
					<li><a href="">Agregar</a></li>
					<li><a href="">Consulta General</a></li>
					<li><a href="">Editar</a></li>
					<li><a href="">Eliminar</a></li>
					<li><a href="">Consulta Individual</a></li>
				</ul>
			</li>
			<li><a href="#">Puestos</a>
				<ul>
					<li><a href="">Agregar</a></li>
					<li><a href="">Consulta General</a></li>
					<li><a href="">Editar</a></li>
					<li><a href="">Eliminar</a></li>
					<li><a href="">Consulta Individual</a></li>
				</ul>
			</li>
			<li><a href="#">Departamentos</a>
				<ul>
					<li><a href="">Agregar</a></li>
					<li><a href="">Consulta General</a></li>
					<li><a href="">Editar</a></li>
					<li><a href="">Eliminar</a></li>
					<li><a href="">Consulta Individual</a></li>
				</ul>
			</li>
			<li><a href="#">Empleados</a>
				<ul>
					<li><a href="">Agregar</a></li>
					<li><a href="">Consulta General</a></li>
					<li><a href="">Editar</a></li>
					<li><a href="">Eliminar</a></li>
					<li><a href="">Consulta Individual</a></li>
				</ul>
			</li>
			<li><a href="#">Horarios</a>
				<ul>
					<li><a href="">Agregar</a></li>
					<li><a href="">Consulta General</a></li>
					<li><a href="">Editar</a></li>
					<li><a href="">Eliminar</a></li>
					<li><a href="">Consulta Individual</a></li>
				</ul>
			</li>

		</ul>

	</header>


<body background="../static/nuevoRH.png">
	<!--<div id="contenedor">
		<ul>
			<li><img src="imagenes/fondo.jpg" alt=""></li>
			<li><img src="imagenes/fondo2.jpg" alt=""></li>
			<li><img src="imagenes/fondo3.jpg" alt=""></li>
			<li><img src="imagenes/fondo4.jpg" alt=""></li>
		</ul>
	</div>-->
</body>

	<footer style="margin-bottom: 0"> 
			<img src="../static/fondo4.png" width="60px" height="60px">
			<address style="text-align: center;"> Departamento RH  </address>
	</footer>
</html>