<!Doctype html>
<html>

<head>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/imagenes/rh.ico">

	<title> RH | Deducciones</title>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, scale = 1.0">
	<link rel="stylesheet" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../static/css/estilo.css">
</head>

<header id="MENU">
	<img src="../../static/imagenes/RHH.png" width="70px" height="55px">

	<style>
		#botonesC {
			margin-left: 400px;
			margin-right: 400px;
			text-decoration: none;
		}

		#cerrarC {
			padding: 40px;
			margin-inline-start: 10px;
			text-decoration: none;
			margin-inline-end: 10px;

		}
	</style>

	<section>
		<table>
			<div class="carruselInicio" >
				<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-left: 45px;">

					<div class="carousel-inner">

						<div class="item active">
							<a id="botonesC" href="/Deducciones">Deducciones</a>
							<div class="carousel-caption">

							</div>
						</div>

						<div class="item">
							<a id="botonesC" href="/Percepciones">Percepciones</a>
							<div class="carousel-caption">

							</div>
						</div>

						<div class="item">
							<a id="botonesC" href="/Ciudades">Ciudades</a>
							<div class="carousel-caption">

							</div>
						</div>

						<div class="item">
							<a id="botonesC" href="/Estado">Estado</a>
							<div class="carousel-caption">

							</div>
						</div>

						<div class="item">
							<a id="botonesC" href="/Puestos">Puestos</a>
							<div class="carousel-caption">

							</div>
						</div>

						<div class="item">
							<a id="botonesC" href="/Horarios">Horarios</a>
							<div class="carousel-caption">

							</div>
						</div>

						<div class="item">
							<a id="botonesC" href="/Empleados">Empleados</a>
							<div class="carousel-caption">

							</div>
						</div>

						<div class="item">
							<a id="botonesC" href="/Departamentos">Departamentos</a>
							<div class="carousel-caption">

							</div>
						</div>

					</div>

					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<span class="sr-only">Next</span>
					</a>

				</div>
			</div>
		</table>
	</section>

</header>


<body>
	<main>
		<br> <br> <br>
		<div class="container" style="text-align: center;">
			<h1> CONSULTA DE DEDUCCIONES </h1><bR>

			<a href="/NuevaDeduccion" class="btn btn-primary"><img src="../../static/imagenes/add.gif">Nuevo</a>
			<br>
			<br>

			<form action="/seleccionDeducciones" method="post">
				<button id="ventasB" type="submit" class="btn btn-primary" role="button">Buscar </button>
				<input id="codigo" type="number" placeholder="Escribe el codigo" required name="codigoBarras">
			</form>
			<br>

			<table id="datos" class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>NOMBRE</th>
						<th>DESCRIPCION</th>
						<th>PORCENTAJE</th>
						<th>EDITAR</th>
						<th>ELIMINAR</th>
					</tr>
				</thead>
				<tbody>
					{% for dedu in deducciones %}
					<tr>
						<td>{{dedu.0}}</td>
						<td>{{dedu.1}}</td>
						<td>{{dedu.2}}</td>
						<td>{{dedu.3}}</td>
						<td>
							<a href="/editarDeduccion/{{dedu.0}}"><img src="../../static/imagenes/editar.jpeg"></a>
						</td>
						<td>
							<a href="/eliminarDeduccion/{{dedu.0}}"><img src="../../static/imagenes/eliminar.jpeg"></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<br>

			<a href="/Regresar" class="btn btn-danger" style="text-decoration: none;">Regresar</a>

			<BR>
		</div>

	</main><br>
</body>

  {% include 'Comunes/footer.html' %}

</html>