<!Doctype html>
<html>

<head>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/imagenes/rh.ico">

    <title> RH | Nueva Deduccion</title>
    <meta charset="utf-8">
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/estilo.css">
</head>

<header id="MENU">
    <img src="../../static/imagenes/RHH.png" width="70px" height="55px">
    <ul>
        <li><a href="/Deducciones">Deducciones</a>

        </li>

        <li><a href="/Percepciones">Percepciones</a>

        </li>

        <li><a href="/Ciudades">Ciudades</a>

        </li>

        <li><a href="/Estado">Estado</a>

        </li>

    </ul>

</header>


<body>
    <main>
        <div class="container" style="text-align: center;"><br>
            <h1> NUEVA DEDUCCION </h1><br>
            <center>


                <div class="col-sm-4">
                    <form action="/insertarDeduccion" method="POST">


                        <table style="margin-left: 120%">
                            <tr>
                                <td>
                                    <label>ID:</label>
                                </td>
                                <td>
                                    <input type="number" name="id" required name="id">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>NOMBRE:</label>

                                </td>
                                <td>
                                    <input type="text" placeholder="Ingresa el nombre." required name="nombre">

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Descripcion:</label>

                                </td>
                                <td>
                                    <input type="text" placeholder="Descripcion" required name="descripcion">

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Porcentaje:</label>

                                </td>
                                <td>
                                    <input type="number" placeholder=" " required name="porcentaje">

                                </td>
                            </tr>
                        </table>

                        <br>
                        <br>
                        <br>
                        <div class="form-group" style="margin-left: 140%">
                            <input type="submit" value="Guardar" class="btn btn-primary">

                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <a href="/CancelarD" class="btn btn-danger">Cancelar</a>
                        </div>
                    </form>
                </div>

            </center>
        </div>
    </main>
</body>

<footer style="margin-bottom: 0">
    <img src="../../static/imagenes/fondo4.png" width="60px" height="60px">
    <address style="text-align: center;"> Departamento RH </address>
</footer>

</html>